<%= link_to "New", new_product_path %><br><br>
<table class= "table-bordered">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Price</th>
		<th>Category</th>
	</tr>
	<tr>
		<td><%= @product.name %></td>
		<td><%= @product.description %></td>
		<td><%= @product.formatted_price %></td>
		<td><%= @product.category %></td>
	</tr>
</table>
<h3>Reviews</h3>

<div id = "review-list">
	<%= render partial: "comment", locals: {product: @product} %>
</div>

<% if current_user %>

<h4>New Review</h4>

<div id = "new_review">
<%= render partial: "reviewsubmit", locals: {product: @product, review: @review} %>
</div>

<% else %>
<p>Please <%= link_to "log in", new_session_path %> to add a review.</p> 
<% end %>

<script type="text/javascript">
$(function(){
	$("#new_review")
	.on('ajax:beforeSend',function(){
		$("input[type='submit']")
		.val('Saving....')
		.attr('disabled','disabled');
	})
	.on('ajax:complete',function(){
		$("input[type='submit']")
		.val("Submit")
		.removeAttr('disabled');
	});
});
</script>
