<%= link_to "New", new_product_path %><br><br>
<table style="width:100%" border="1">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Price</th>
		<th>Category</th>
	</tr>
	<tr>
		<td><%= @product.name %></td>
		<td><%= @product.description %></td>
		<td><%= @product.formatted_price %></td>
		<td><%= @product.category %></td>
	</tr>
</table>
<h3>Reviews</h3>

<%= render partial: "comment", locals: {product: @product} %>
<% if current_user %>

<h4>New Review</h4>

<%= render partial: "reviewsubmit", locals: {product: @product, review: @review} %>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a review.</p> 
<% end %>