<!DOCTYPE html>
<html>
<head>
	<title>Rainforest</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:notice] %>
	<p id="notice"><%= flash[:notice] %></p>
	<% end %>
	<% if flash[:alert] %>
	<p id="alert"><%= flash[:alert] %></p>
	<% end %>

	<%= yield %>
	<p class="userinfo">
	<% if current_user %>
		<%= render partial: 'sessions/loggedin' %>
	<% else %>
	<%= render partial: 'sessions/form', display: 'none' %>
	<div id= "log_sign">
	<%= link_to "Log in", new_session_path, id: "new_link" %> or <%= link_to "Sign up", new_user_path %>
	</div>
	<% end %>
	</p>
</body>
</html>
